pre .pl-c1,
pre .pl-s .pl-v {
    color: #0550ae;
}

pre .pl-k {
    color: #cf222e;
}

pre .pl-v,
pre .pl-smw {
    color: #953800;
}

pre .pl-s,
pre .pl-pds,
pre .pl-s .pl-pse .pl-s1,
pre .pl-sr,
pre .pl-sr .pl-cce,
pre .pl-sr .pl-sre,
pre .pl-sr .pl-sra {
    color: #0a3069;
}

pre .pl-ent {
    color: #116329;
}

.wux-typo pre {
    background-color: #0000000a !important;
    border: none !important;
}

@media (prefers-color-scheme: dark) {

    pre .pl-c1,
    pre .pl-s .pl-v {
        color: #79c0ff;
    }

    pre .pl-k {
        color: #ff7b72;
    }

    pre .pl-v,
    pre .pl-smw {
        color: #ffa657;
    }

    pre .pl-s,
    pre .pl-pds,
    pre .pl-s .pl-pse .pl-s1,
    pre .pl-sr,
    pre .pl-sr .pl-cce,
    pre .pl-sr .pl-sre,
    pre .pl-sr .pl-sra {
        color: #a5d6ff;
    }

    pre .pl-kos,
    pre .pl-s1,
    pre .pl-en,
    pre .pl-smi {
        color: #c9d1d9;
    }

    pre .pl-ent {
        color: #7ee787;
    }

    .wux-typo pre {
        background-color: #00000040 !important;
        border: none !important;
    }
}

#header-option {
    display: flex !important;
}

.wux-header .wux-header-option-group {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
}